<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Welcome in This AdvBlog</title>
    {% include "snippets/header.html" %}
    {% include "snippets/base-css.html" %}
  </head>
  <body>
    <style type="text/css">
      .main{
          min-height: 80vh;
          height: 70%;
      }
    </style>
    <div class="main">
      {% block content %}

      {% endblock content %}
    </div>
  </body>
  <hr>
  <footer>
    <center>
      {% include "snippets/footer.html" %}
    </center>
  </footer>
</html>
